[submodule "core/src/sage/vm-tools"]
	path = core/src/sage/vm-tools
	url = https://github.com/Night-Traders-Dev/SageVM.git
[submodule "core/lib/android"]
	path = core/lib/android
	url = https://github.com/Night-Traders-Dev/sagelang-lib-android
[submodule "core/lib/blockchain"]
	path = core/lib/blockchain
	url = https://github.com/Night-Traders-Dev/sagelang-lib-blockchain
[submodule "core/lib/chat"]
	path = core/lib/chat
	url = https://github.com/Night-Traders-Dev/sagelang-lib-chat
[submodule "core/lib/crypto"]
	path = core/lib/crypto
	url = https://github.com/Night-Traders-Dev/sagelang-lib-crypto
[submodule "core/lib/cuda"]
	path = core/lib/cuda
	url = https://github.com/Night-Traders-Dev/sagelang-lib-cuda
[submodule "core/lib/discord"]
	path = core/lib/discord
	url = https://github.com/Night-Traders-Dev/sagelang-lib-discord
[submodule "core/lib/gc"]
	path = core/lib/gc
	url = https://github.com/Night-Traders-Dev/sagelang-lib-gc
[submodule "core/lib/graphics"]
	path = core/lib/graphics
	url = https://github.com/Night-Traders-Dev/sagelang-lib-graphics
[submodule "core/lib/metal"]
	path = core/lib/metal
	url = https://github.com/Night-Traders-Dev/sagelang-lib-metal
[submodule "core/lib/ml"]
	path = core/lib/ml
	url = https://github.com/Night-Traders-Dev/sagelang-lib-ml
[submodule "core/lib/net"]
	path = core/lib/net
	url = https://github.com/Night-Traders-Dev/sagelang-lib-net
[submodule "core/lib/os"]
	path = core/lib/os
	url = https://github.com/Night-Traders-Dev/sagelang-lib-os
[submodule "core/lib/std"]
	path = core/lib/std
	url = https://github.com/Night-Traders-Dev/sagelang-lib-std
[submodule "core/lib/transpiler"]
	path = core/lib/transpiler
	url = https://github.com/Night-Traders-Dev/sagelang-lib-transpiler
[submodule "core/lib/mips"]
	path = core/lib/mips
	url = https://github.com/Night-Traders-Dev/sagelang-lib-mips
[submodule "core/lib/rich"]
	path = core/lib/rich
	url = https://github.com/Night-Traders-Dev/sagelang-lib-rich.git
