[submodule "core/src/sage/vm-tools"]
	path = core/src/sage/vm-tools
	url = https://github.com/Night-Traders-Dev/SageVM.git
[submodule "core/lib/android"]
	path = core/lib/android
	url = /root/Devel/sagelang_libs/android
[submodule "core/lib/blockchain"]
	path = core/lib/blockchain
	url = /root/Devel/sagelang_libs/blockchain
[submodule "core/lib/chat"]
	path = core/lib/chat
	url = /root/Devel/sagelang_libs/chat
[submodule "core/lib/crypto"]
	path = core/lib/crypto
	url = /root/Devel/sagelang_libs/crypto
[submodule "core/lib/cuda"]
	path = core/lib/cuda
	url = /root/Devel/sagelang_libs/cuda
[submodule "core/lib/discord"]
	path = core/lib/discord
	url = /root/Devel/sagelang_libs/discord
