# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
core/obj/
core/sage
core/sgvm
core/sgvmc
core/.tmp/
core/sage-lsp
check_builtins.py
check_builtins2.py
count_keywords.py
count_keywords_lexer.py
count_ref_kw.py
get_diff.py
get_keywords.py
get_keywords2.py
get_keywords3.py
builtins_c.txt
core/build_sage/
